<ul class="header-btns">
    <li class="header-account dropdown default-dropdown">
        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
            <div class="header-btns-icon">
                <i class="fa fa-user-o"></i>
            </div>
            <strong class="text-uppercase">Mi cuenta <i class="fa fa-caret-down"></i></strong>
        </div>
        <a href="Login.html" class="text-uppercase">Iniciar Sesi&oacute;n</a>
        <ul class="custom-menu">
            <li>
                <a href="Login.html"><i class="fa fa-unlock-alt"></i>Cambio Contrase&ntilde;a</a>
            </li>
            <li>
                <a href="Logout.html"><i class="fa fa-sign-out"></i>Salir</a>
            </li>
        </ul>
    </li>
    <li class="nav-toggle">
        <button class="nav-toggle-btn main-btn icon-btn">
            <i class="fa fa-bars"></i>
        </button>
    </li>
</ul>