@using EFood_Intranet.Controllers
<ul class="header-btns">
    <li class="header-account dropdown default-dropdown">
        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
            <div class="header-btns-icon">
                <i class="fa fa-user-o"></i>
            </div>
            @if (AppAccount.IsLoggedIn())
            {
                <strong class="text-uppercase">@AppAccount.GetLogin().Username <i class="fa fa-caret-down"></i></strong>
            }
            else
            {
                <strong class="text-uppercase">Mi cuenta <i class="fa fa-caret-down"></i></strong>
            }
        </div>
        @if(AppAccount.IsLoggedIn())
        {
            @Html.ActionLink("Salir", "CloseSession", "Account", null, new { @role="a", @class="text-uppercase"})
        }
        else
        {
            @Html.ActionLink("Iniciar Sesión", "Login", "Account", null, new { @role="a", @class="text-uppercase"})
        }
        @if (AppAccount.IsLoggedIn())
        {
            <ul class="custom-menu">
                @*
                <li>
                    <a href="Login.html"><i class="fa fa-unlock-alt"></i>Cambio Contrase&ntilde;a</a>
                </li>
                *@
                <li>
                    @Html.ActionLink("  Salir", "CloseSession", "Account", null, new {@role = "a", @class = "text-uppercase fa fa-sign-out"})
                </li>
            </ul>
        }
    </li>
    <li class="nav-toggle">
        <button class="nav-toggle-btn main-btn icon-btn">
            <i class="fa fa-bars"></i>
        </button>
    </li>
</ul>