<div class="container">
    <div id="responsive-nav">
        <div class="menu-nav">
            <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
            <ul class="menu-list">
                <li>
                    @Html.ActionLink("Inicio", "Index", "Home")
                </li>
                <li class="dropdown mega-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Seguridad <i
                            class="fa fa-caret-down"></i></a>
                    <div class="custom-menu">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="list-links">
                                    <li>
                                        <h3 class="list-links-title">Seguridad</h3>
                                    </li>
                                    <li><a href="Usuarios.html">Usuarios</a></li>
                                    <li><a href="VerUsuarios.html">Roles</a></li>
                                    <li>
                                        <a href="CambioPass.html">Cambiar Contraseña</a>
                                    </li>
                                </ul>
                                <hr class="hidden-md hidden-lg" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown mega-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Administracion <i
                            class="fa fa-caret-down"></i></a>
                    <div class="custom-menu">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="list-links">
                                    <li>
                                        <h3 class="list-links-title">Administracion</h3>
                                    </li>
                                    <li>
                                        <a href="Parametrosgenerales.html">Parametros generales</a>
                                    </li>
                                    <li>
                                        <a href="Tarjetas.html">Tarjetas de credito o Debito</a>
                                    </li>
                                    <li><a href="MediosPago.html">Medios de Pago</a></li>
                                    <li>
                                        <a href="TiqueteDesc.html">Tiquetes de descuento</a>
                                    </li>
                                </ul>
                                <hr class="hidden-md hidden-lg" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>