<ul class="header-top-links">
	<li class="dropdown default-dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Language: (ES)
			<i class="fa fa-caret-down"></i></a>
		<ul class="custom-menu">
			<li><a href="#">Spanish (ES)</a></li>
			<li><a href="#">English (ENG)</a></li>
			<li><a href="#">Italian (ITA)</a></li>
			<li><a href="#">French (FR)</a></li>
		</ul>
	</li>
</ul>