@{
    ViewBag.Title = "Home Page";
}

<div id="home">
    <div class="container">
        <div class="home-wrap">
            <div id="home-slick">
                <div class="banner banner-1">
                    <img src="~/Images/fondo.jpg" alt="" />
                    <div class="banner-caption text-center">
                        <h1>E-Food</h1>
                        @Html.ActionLink("Inicio Sesi&oacte;n", "Login", "Account", null, new { @class="primary-btn"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>