@model EFoodBLL.IntranetModels.ConsecutiveList

@{
    ViewBag.Title = "Listado de Consecutivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">



    <div class="omb_login">
        <br></br><br><br><br><br>
        <h4 class="omb_authTitle" style="color: orangered;">Lista de Consecutivos</h4>
    </div>
    <br><br><br><br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Consecutivo</th>
                <th scope="col">Cambiar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Tipos de Precios</th>
                <td>1</td>
                <td><a href="InfoConsecutivo.html">Editar</a></td>
                <td><a>Eliminar</a></td>
            </tr>
            <tr>
                <th scope="row">Procesadores de Pago</th>
                <td>2</td>
                <td><a href="InfoConsecutivo.html">Editar</a></td>
                <td><a>Eliminar</a></td>
            </tr>
            <tr>
                <th scope="row">Lineas de Comida</th>
                <td>3</td>
                <td><a href="InfoConsecutivo.html">Editar</a></td>
                <td><a>Eliminar</a></td>
            </tr>
            <tr>
                <th scope="row">Productos</th>
                <td>10</td>
                <td><a href="InfoConsecutivo.html">Editar</a></td>
                <td><a>Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</div>
