@model EFoodBLL.IntranetModels.LineType
@using EFood_Intranet.Controllers

@{
    ViewBag.Title = "Tipo Linea Comida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (AppAccount.GetLogin() == null)
{
    <div id="home">
        <div class="container">
            <h4 style="color: orangered;">NO HAS INICIADO SESION</h4>
        </div>
    </div>
}
else
{

    if (AppAccount.HasAdministrationRole() || AppAccount.HasMaintenanceRole())
    {


        <div id="home">
            <div class="container">
                <div class="omb_login">
                    <br />
                    @using (Html.BeginForm("LineTypeCreate", "Administration", new { ResponseUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "center3" }))
                    {
                        <h4 style="color: orangered;">Informacion de Tipo de Comida</h4>
                        @Html.ValidationSummary("", new { @class = "ErrorMessage" }) @*Validation Cheked*@
                        <br />
                        <label for="fname">Type:</label>
                        @Html.TextBoxFor(item => item.Type, new { id = "fname", placeholder = "Type" })
                        <br />
                        <input type="submit" class="primary-btn" value="Guardar" />
                        @Html.ActionLink("Volver", "LineTypeList")
                    }
                </div>
            </div>
        </div>

    }
    else
    {
        <div id="home">
            <div class="container">
                <h4 style="color: orangered;">NO TIENES PERMISOS</h4>
            </div>
        </div>
    }
}