@model EFoodBLL.IntranetModels.PayMethodList

@{
    ViewBag.Title = "Listado de Metodos de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="home">
    <!-- container -->


    <div class="container">


        <div class="omb_login">
            <br></br><br><br><br><br><br>
            <h4 class="omb_authTitle" style="color: orangered;">Medios de Pago (Lista de procesadores de pago)</h4>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
            </div>
            <br><br><br>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Código</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Cambiar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Process.Net</th>
                        <td>1</td>
                        <td>Tarjeta de Crédito o débito</td>
                        <td>Si</td>
                        <td><a href="InfoProcesadorPago.html">Editar</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Efectivo</th>
                        <td>2</td>
                        <td>Efectivo</td>
                        <td>Si</td>
                        <td><a href="InfoProcesadorPago.html">Editar</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Echeck</th>
                        <td>3</td>
                        <td>Cheque Electrónico</td>
                        <td>Si</td>
                        <td><a href="InfoProcesadorPago.html">Editar</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                    <tr>
                        <th scope="row">ATH</th>
                        <td>3</td>
                        <td>Tarjeta de Crédito o débito</td>
                        <td>No</td>
                        <td><a href="InfoProcesadorPago.html">Editar</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                </tbody>
            </table>

            <!-- /container -->
        </div>
