@model EFoodBLL.IntranetModels.ProductList

@{
    ViewBag.Title = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
<div id="home">
    <!-- container -->


    <div class="container">


        <div class="omb_login">
            <br></br><br><br><br><br><br>
            <h4 class="omb_authTitle" style="color: orangered;">Lista de Productos</h4>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
            </div>
            <br><br><br>

            <form>
                <h5>Filtro</h5>
                <label for="Estado">Línea:</label>
                <select name="Estado" id="Estado">
                    <optgroup label="Seleccione opción:">
                        <option value="Opcion">Combos</option>
                        <option value="Opcion">Postres</option>
                        <option value="Opcion">Ensaladas</option>
                        <option value="Opcion">Refrescos</option>
                        <option value="Opcion">Gaseosas</option>
                    </optgroup>
                </select>
                <br>
                <input type="submit" value=" Filtrar">
                <br><br><br>
            </form>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Código</th>
                        <th scope="col">Cambiar</th>
                        <th scope="col">Agregar Precios</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Combo#1</th>
                        <td>1</td>
                        <td><a href="InfoProductos.html">Editar</a></td>
                        <td><a href="PrecioDelProducto.html">Agregar Precios</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Combo#2</th>
                        <td>2</td>
                        <td><a href="InfoProductos.html">Editar</a></td>
                        <td><a href="PrecioDelProducto.html">Agregar Precios</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Combo#3</th>
                        <td>3</td>
                        <td><a href="InfoProductos.html">Editar</a></td>
                        <td><a href="PrecioDelProducto.html">Agregar Precios</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Combo#4</th>
                        <td>4</td>
                        <td><a href="InfoProductos.html">Editar</a></td>
                        <td><a href="PrecioDelProducto.html">Agregar Precios</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Combo#5</th>
                        <td>5</td>
                        <td><a href="InfoProductos.html">Editar</a></td>
                        <td><a href="PrecioDelProducto.html">Agregar Precios</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                </tbody>
            </table>

            <!-- /container -->
        </div>
