

@{
    ViewBag.Title = "Edita Tipo de Tarjeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="home">
        <!-- container -->


        <div class="container">


            <div class="omb_login">
                </br>
                <form class="center3">
                    <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    </div>
                    <br>
                    <h4 style="color: orangered;">Información de la Tarjeta</h4>
                    </br>
                    <label for="fname">Código:</label>
                    <input type="text" id="fname" name="fname"><br>
                    <br>
                    <label for="PrefijoInt">Descripción:</label>
                    <input type="text" id="fname" name="fname"><br>
                    <br>
                    <input type="submit" onclick="location.href='Tarjetas.html';" value="Guardar"> </input>
                    <input type="submit" value="cancelar"> </input>
                </form>
            </div>

            <!-- /container -->
        </div>
