@model EFoodBLL.IntranetModels.CardType

@{
    ViewBag.Title = "Crear Tipo Tarjeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
        <div class="container">
            <div class="omb_login">
                <br />
                @using (Html.BeginForm("TypeCardCreate", "Administration", new { ResponseUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "center3" }))
                {
                    <h4 style="color: orangered;">Crear Tipo de Tarjeta</h4>
                    @Html.ValidationSummary("", new { @class = "ErrorMessage" }) @*Validation Cheked*@
                    <br />
                    <label for="fname">Tipo:</label>
                    @Html.TextBoxFor(item => item.Type, new { id = "fname", placeholder = "Tipo" })
                    <br />
                    <input type="submit" class="primary-btn" value="Guardar" />
                    @Html.ActionLink("Volver", "TypeCardList")
                }
            </div>
        </div>
    </div>
