@model EFoodBLL.IntranetModels.LineTypeList

@{
    ViewBag.Title = "Lista de Tipo de Comida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="home">
        <!-- container -->


        <div class="container">


            <div class="omb_login">
                <br></br><br><br><br><br><br>
                <h4 class="omb_authTitle" style="color: orangered;">Lista de Líneas de Comida</h4>
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                </div>
                <br><br><br>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Código</th>
                            <th scope="col">Cambiar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Postres</th>
                            <td>1</td>
                            <td><a href="InfoLineaDeComida.html">Editar</a></td>
                            <td><a>Eliminar</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Combos</th>
                            <td>2</td>
                            <td><a href="InfoLineaDeComida.html">Editar</a></td>
                            <td><a>Eliminar</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Ensaladas</th>
                            <td>3</td>
                            <td><a href="InfoLineaDeComida.html">Editar</a></td>
                            <td><a>Eliminar</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Refrescos</th>
                            <td>4</td>
                            <td><a href="InfoLineaDeComida.html">Editar</a></td>
                            <td><a>Eliminar</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Gaseosas</th>
                            <td>5</td>
                            <td><a href="InfoLineaDeComida.html">Editar</a></td>
                            <td><a>Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>

                <!-- /container -->
            </div>
