@model EFoodBLL.IntranetModels.ListLog

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <div class="container">
        <div class="omb_login">
            <h4 class="omb_authTitle" style="color: orangered;">Consulta Bitacoras:</h4>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">	
            </div>
            <br><br><br>
        </div>
    </div>
</div>