@model EFoodBLL.IntranetModels.PasswordChange

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <div class="container">
        <div class="omb_login">
            <br>
            <h4 class="omb_authTitle" style="color: orangered;">Cambio Contraseña</h4>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
            </div>

            <form class="centerCambiopass" name="formName" action="" method="POST"
                  onsubmit='return validatePassword()'>

                <div>Contraseña: <input type="password" name="passwordActual"></div>
                <div>Nueva Contraseña: <input type="password" name="passwordNew1"></div>
                <div>Confirmar Nueva Contraseña : <input type="password" name="passwordNew2"></div>

                <div><input type="submit" value="Cambiar Contraseña"></div>
                <div><input type="submit" value="Cancelar"></div>
            </form>
        </div>
    </div>
</div>