@model EFoodBLL.IntranetModels.UserStatus

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <div class="container">
        <div class="omb_login">
            <br/>
            <form class="center3">
                <br/>
                <h4 class="omb_authTitle" style="color: orangered;">Lista de Usuarios</h4>
                <div class="row omb_row-sm-offset-3 omb_socialButtons">	
                </div>
                <div style="width:150px;height:150px;line-height:3em;overflow:auto;padding:5px;" class="center" >
                    Usuario1abcd usuario2abcd ejemploadicional testing12 tiposdeuser15. 
                </div>
                <br/><br/>
                <label for="Estado">Estado Actual:</label>
                <select name="Estado" id="Estado">
                    <optgroup label="Tipo de estado">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </optgroup>
                </select>
            </form>
        </div>
    </div>
</div>
