@using EFood_Intranet.Controllers
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (AppAccount.GetLogin() == null)
{
    <div id="home">
        <div class="container">
            <h4 style="color: orangered;">NO HAS INICIADO SESION</h4>
        </div>
    </div>
}
else
{
    
    if (AppAccount.HasAdministrationRole() || AppAccount.HasSecurityRole())
    {
        <div id="home">
            <div class="container">
                <div class="omb_login">
                    <br/>
                    <h4 class="omb_authTitle">Opciones de Usuario</h4>
                    <div class="row omb_row-sm-offset-3 omb_socialButtons">	
                    </div>
                    <div>
                        <a title="Ver Usuarios" href='@Url.Action("StatusUsers", "Security")'>
                            <img src="~/Images/verusuarios.png"
                                 alt="Ver Usuarios" class="center"/>
                            <p style="text-align:center;">Lista usuarios</p>
                        </a>
                        <br/>
                        <br/>
                        <a title="Crear Usuario" href='@Url.Action("Register", "Security")'>
                            <img src="~/Images/usuario.png"
                                 alt="Crear Usuario" class="center"/>
                            <p style="text-align:center;">Crear usuario</p>
                        </a>
                    </div>
                    <div class="row omb_row-sm-offset-3 omb_loginOr">
                        <div class="col-xs-12 col-sm-6">
                            <hr class="omb_hrOr">
                            <span class="omb_spanOr"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="home">
            <div class="container">
                <h4 style="color: orangered;">NO TIENES PERMISOS</h4>
            </div>
        </div>
    }    
}