@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Inicio de Sesion</h1>
</div>
<div>
    <h3>Bienvenido a EFood</h3>
    @Html.ValidationSummary("", new { @class = "ErrorMessage" })
    <li>@Html.ActionLink("Iniciar Compra", "ProductList", "Shoping")</li>
</div>