@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Bienvenido a EFood</h1>
</div>
<div>
    @if (ViewBag.Connection)
    {
        @Html.ActionLink("Iniciar Compra", "Initialize", "Home");
    }
    else
    {
        <h1 class="ErrorMessage">Ha ocurrido un error con la conexi&oacute;n.</h1>
    }
</div>